<div class="row">
  <div class="card col-md-12 mb-2 border-0">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body row d-flex flex-row list-group list-group-flush justify-content-around"  *ngFor="let item of User">
      <p class="card-text m-1 p-2 col-md-3 list-group-item">{{item.Name}}</p>
      <p class="card-text m-1 p-2 col-md-3 list-group-item">{{item.Email}}</p>
      <p class="card-text m-1 p-2 col-md-3 list-group-item">{{item.Address}}</p>
      <p class="card-text m-1 p-2 col-md-3 list-group-item">Date: {{item.OrderDate | date: 'dd/MM/yyyy'}}</p>
      <p class="card-text m-1 p-2 col-md-3 list-group-item">{{item.PaymentType}}</p>
      <p class="card-text m-1 p-2 col-md-3 list-group-item">{{item.Phone}}</p>
    </div>
  </div>

  <h5>Products</h5>
  <div class="card col-md-4 " *ngFor="let item of OrderProduct ; let i = index">
    <img [src]="item.ProductImg" class="card-img-top img-fluid" [alt]="item.ProductName">
    <div class="card-body">
      <h5 class="card-title">{{item.ProductName}}</h5>
      <p class="card-text">Price: {{item.ProductPrice}}</p>
      <p>Quantity: {{item.Quantity}}</p>
      <p>total price: {{item.ProductPrice * item.Quantity}}</p>
      <p class="card-text p-2" [ngClass]="{'text-bg-danger': item.AvailablePieces <= 10 ,'text-bg-secondary': item.AvailablePieces > 10}">Available Pieces:{{item.AvailablePieces}}</p>
    </div>
  </div>
</div>

